body {
    text-align: center;
    background-color: #283149;
  }
  
  h1 {
    font-size: 3    rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }

  .set{
    width: 40%;
    margin: auto;
}


  input{
    outline: none;
    border: 10px solid #404B69;
    font-size: 1rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }

  #calc{
    width: 400px;
  }
  .refresh{
    width: 400px;
  }


  